extends layout

block content
  .wrapper
    .header
      h1 Graph Isomorphism Tester
    .content
      .formContent
        .leftGraph
          .leftGraphData.graphData
            p= fileNames[0]
            if(data)
              p No. of nodes: #{data[0].settings.nodeNum}
              p= edgeNumbers[0]
              p(style='margin-bottom: 0;') Edges: #{data[0].edges.length}
              each edge in data[0].edges
                p(style='margin: 0; padding: 0;') #{edge.nodeFrom} - #{edge.nodeTo}
              p(style='margin-bottom: 0;') Adjacency matrix:
              .matrix
                each row, value in matrix[0]
                  p(style='margin: 0; padding: 0')
                    each char in row
                      if(char=='0')
                        span(style='padding: 2px; background-color: pink; color: gray;')  #{char}
                      else
                        span(style='padding: 2px;')  #{char}
        .rightGraph
          .rightGraphData.graphData
            p= fileNames[1]
            if(data)
              p No. of nodes: #{data[1].settings.nodeNum}
              p= edgeNumbers[1]
              p(style='margin-bottom: 0;') Edges: #{data[1].edges.length}
              each edge in data[1].edges
                p(style='margin: 0; padding: 0;') #{edge.nodeFrom} - #{edge.nodeTo}
              p(style='margin-bottom: 0;') Adjacency matrix:
              .matrix
                each row, value in matrix[1]
                  p(style='margin: 0; padding: 0')
                    each char in row
                      if(char=='0')
                        span(style='padding: 2px; background-color: pink; color: gray;')  #{char}
                      else
                        span(style='padding: 2px;')  #{char}
        .bottomRow
          if(data)
            if(izomorf == true)
              p Isomorphic.
            else
              p Not isomorphic.
          a(href='/')
            input(type='button', value='Reload')